<!DOCTYPE html>
<html>
  <head>
    <title>PunchClock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <a href="/">Punch Clock</a>
          <div>
            <% unless current_user&.present? %>
              <a class="btn btn-primary" href="<%= login_path %>">Login</a>
            <% else %>
              <div class="dropdown">
                  <button class="btn btn-dark dropdown-toggle" id="userMenuButton" data-bs-toggle="dropdown">
                    <%= "Hey, #{current_user.given_name}" %>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><%= link_to "Profile", profile_path %></li>
                    <% if current_user.has_role?(:admin) %>
                      <li class="dropdown-item"><%= link_to "Users", admin_users_path %></li>
                    <% end %>
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item"><%= link_to "Logout", logout_path, data: { method: :delete } %></li>
                  </ul>
              </div>
            <% end %>
          </div>          
        </div>        
      </div>
    </header>    
    <%= yield %>
  </body>
</html>
